@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

a {
    @apply hover:text-blue-500 hover:underline;
}

@keyframes rainbow {
    0% {color: red;}
    42% {color: lime;}
    57% {color: blue;}
    71% {color: indigo;}
    85% {color: violet;}
    100% {color: red;}
}

.rainbow-text {
    animation: rainbow 3s linear infinite;
}

#codemirror-wrapper .cm-editor {
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none !important;
}


#codemirror-wrapper .cm-gutters {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

#codemirror-wrapper .cm-gutterElement {
    margin: 0;
}

#codemirror-wrapper .cm-content {
    padding: 0;
}

#codemirror-wrapper .cm-content,
#codemirror-wrapper .cm-gutter {
    min-height: 800px;
}

#codemirror-wrapper .cm-scroller {
    overflow: auto;
}
